
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oswald&family=Titillium+Web:wght@700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
        scroll-behavior: smooth;
}

body{
    background-color: #34495E;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    min-height: 100%;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20em;
  }
  
  .nav-links{
    display: flex;
    align-items: center;
    margin-left: 600px;
    padding: 1em
  }

  .nav-links li{
    list-style: none;
    padding: 1em;
    a{
        text-decoration: none;
        color: white;
        font-size: 1.1em;
    }
  }
  

.switch{
    
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.4em;
    box-shadow: 0px 1px 19px #000;
    border-radius: 50%;
}

.switch input{
    
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    --background:#000000 ;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before{
    position: absolute;
    content: "";
    height: 1.1em;
    width: 1.1em;
    border-radius: 50%;
    left: 9%;
    bottom: 10%;
    box-shadow: inset 8px -4px 0px 0px #ffffff;
    background: var(--background);
    transition: .5s;
}

input:checked + .slider {
    background-color: #ffffff;
  }
  
input:checked + .slider:before {
transform: translateX(130%);
bottom: 11%;
box-shadow: inset 15px -4px 0px 15px #000000;
}

html.btn-dark{
    filter: invert(850%);
    
}
html.btn-dark img{
    filter: invert(100%);
}

html.btn-dark .panel{
    filter: invert();
}

html.btn-dark .panel .oculto--icons img{
    filter: none;
}


.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(4, 0.35fr);
    grid-template-areas: 
    "a a "
    "b c "
    "b c "
    "b c "
    ;
    margin-top: 8em;
    padding: 1em;
    justify-items: center;
    height: 60vh;
}

.titulo-port{
    grid-area: a;
}

.photo{
    width: 50%;
    height: 100%;
    grid-area:b ;
}

.photo-principal{
    width: 100%;
    height: 100%;
    margin-left: 40%;
    border-radius: 50%;
    object-fit: cover;
}

.description{

    padding: 5%;
    text-align: start;
    grid-area: c;
}

.subtitulo-jose{
    margin-top: 2.6%;
}

.describe{
    margin-top:2%;
    margin-right: 28%;
}

.subtitulo--front,.subtitulo--back{
    text-align: center;
}

.subtitulo--Skills, .subtitulo--proyectos{
    text-align: center;
    margin-bottom: 2em;
}

.Skills{
    margin-top: 18em;
    display: grid;
    place-content: center;
    width: 100%;
    height: auto;
}

.container-Skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin-bottom: 10em;
    gap: 10em;
}

.box{
    display: grid;
    grid-template-columns: repeat(2,
    minmax(50px, 1fr)
    );
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    margin-top: 60px;
    text-align: center;
    gap: 1.5em;
}

.box > li{
    height: 15em;
    width: 15em;
    background-color: #000;
    opacity: 0.5;
    box-shadow: 0px 1px 19px #000;
    border: 10px;
    border-color: #ff04c9;
    border-radius: 30px;
    border-width: 1px;
}

.cajitas{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.cajitas >img{
    width: 90px;
    height: 90px;

}

.cajitas:hover{
    transform: scale(1.1);
}

.contenedorProyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.contenedorProyecto .containerP{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4 , 1fr);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    gap: 30px;
} 

.panel{
    /*background-image:url('../../Assets/img/campos_panama.jpg');*/
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    height: 24em;
    border-radius: 20px;
    cursor:pointer;
    box-shadow: 0px 1px 19px #000;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.panel .oculto{
    opacity: 0;
    transition: opacity 0.28s ease-in-out;
    margin-left: 16px;
    margin-bottom: 5px;
    position: relative;
}

.panel>img{
    position: absolute;
    inset: 0;
}

.panel:hover .oculto{
    opacity: 1;
}

.panel .oculto--icons>img{
    width: 30px;
    height: 30px;
}

.statistics{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistics-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    width: 1000px;
    height: 300px;
    background-color: #000;
    border-radius: 20px;

}

.statistic-item{
    color: white;
    text-align: center;
}

.statistic-item>img{
    fill: #fff;
    stroke: white;
    margin: auto;
    width: 50px;
    height: 50px;
    filter: invert();
}

.footer{
    background-color:#293e52;
    text-align: center;
    justify-content: center;
}


.footer a{
    list-style: none;
    text-decoration: none;
    color: white;   
}


@media screen and (max-width: 980px) {

    .header{
        display: flex;
        margin-left: 0;
        justify-content: space-between;
    }

    .switch{
        margin-left: 23px;
    }

    .content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        "a a "
        "b b "
        "c c "
        ;
        margin-top: 7em;
        column-gap: 1em;
        padding: 1em;
        justify-items: center;
        margin-bottom: 100%;
    }
    
    .titulo-port{
        grid-area: a;
    }

    .photo{
        margin-top: 2em;
        width: 80%;
        height: 100%;
        grid-area:b ;
    }

    .photo-principal{
        width: 100%;
        height: 100%;
        margin-left: 0;
        border-radius: 20px;
    }

    .description{
        padding: 2em;
        text-align: center;
        grid-area: c;
    }
    .subtitulo-jose{
        margin-top: 0;
    }

    .describe{
        margin-right: 0;
        font-size: 1em;
        margin-top:1em;
    }

    .container-Skills{
        display: flex;
        flex-direction: column;
        margin-bottom: 160px;
    }

    .box{
        width: 100%;
        height: auto;
        margin-inline: 0;
    }

    .box li{
        justify-content: center;
        width: 160px;
        height: 160px;
    }

    .contenedorProyecto .containerP{
        display: grid;
        justify-content: center;
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .statistics{
        width: 90%;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .statistics-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 850px;
        gap: 80px;

    }
}


