
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oswald&family=Titillium+Web:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
}
html{
        scroll-behavior: smooth;
}

body{
    background-color: #34495E;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    min-height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 85vw;
    height: 2.5em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}


.header .logo {
    margin-top: 1em;
    cursor: pointer;
    height: 70px;
    width: auto;
    padding: 10px;
}

.header .logo:hover{
    transform: scale(1.1);
}

.nav-links{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}

.header .nav-links li{
    text-decoration: none;
    transition: transform 0.2s;
    text-align: center;
    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    color: white;   
    padding: 0.5rem 1rem;
}

.switch{
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.4em;
    box-shadow: 0px 1px 19px #000;
    border-radius: 50%;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    --background:#000000 ;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before{
    position: absolute;
    content: "";
    height: 1.1em;
    width: 1.1em;
    border-radius: 50%;
    left: 9%;
    bottom: 10%;
    box-shadow: inset 8px -4px 0px 0px #ffffff;
    background: var(--background);
    transition: .5s;
}

input:checked + .slider {
    background-color: #ffffff;
  }
  
  input:checked + .slider:before {
    transform: translateX(130%);
    bottom: 11%;
    box-shadow: inset 15px -4px 0px 15px #000000;
  }

html.btn-dark{
    filter: invert(850%);
    
}
html.btn-dark img{
    filter: invert(100%);
}

html.btn-dark .panel{
    filter: invert();
}

html.btn-dark .panel .oculto--icons img{
    filter: none;
}


.subtitulo--two{
    margin-top: 1.5em;
    margin-bottom: 0.9em;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.36fr);
    grid-template-areas: 
        "a a a"
        "b b b"
        "c d d"
        ;
    width: 100vw;
    height: 100vh;
    margin-bottom: 6em;
}


.titulo-port{
    text-align: center;
    margin-top: 4em;
    grid-area: a;
}

.subtitulo-jose{
    grid-area: b;
    font-size: 21px;
    text-align: start;
    margin-left: 19em;
    margin-bottom: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.photo-principal{
    display: flex;
    flex-direction: column;
    grid-area: c;
    height: 48vh;
    width: auto;
    border-radius: 50%;
    margin-left: 18em;
}

.describe {
    grid-area: d;
    display: grid;
    place-content: center;
    margin-left: 10em;
    margin-right: 10em;
}

.subtitulo--front,.subtitulo--back{
    text-align: center;
}

.subtitulo--Skills, .subtitulo--proyectos{
    text-align: center;
    margin-bottom: 2em;
}

.Skills{
    display: grid;
    place-content: center;
    width: 100%;
    height: auto;
}

.container-Skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    margin-bottom: 10em;
    gap: 10em;
}

.box{
    display: grid;
    grid-template-columns: repeat(2,
    minmax(50px, 1fr)
    );
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    margin-top: 60px;
    text-align: center;
    gap: 1.5em;
}

.box > li{
    height: 15em;
    width: 15em;
    background-color: #000;
    opacity: 0.5;
    box-shadow: 0px 1px 19px #000;
    border: 10px;
    border-color: #ff04c9;
    border-radius: 30px;
    border-width: 1px;
}

.cajitas{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}

.cajitas >img{
    width: 90px;
    height: 90px;

}

.cajitas:hover{
    transform: scale(1.1);
}

.contenedorProyecto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.contenedorProyecto .containerP{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4 , 1fr);
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    gap: 30px;
} 

.panel{
    background-image:url('/Assets/img/campos_panama.jpg');
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #fff;
    height: 24em;
    border-radius: 20px;
    cursor:pointer;
    box-shadow: 0px 1px 19px #000;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.panel .oculto{
    opacity: 0;
    transition: opacity 0.28s ease-in-out;
    margin-left: 16px;
    margin-bottom: 5px;
    position: relative;
}

.panel>img{
    position: absolute;
    inset: 0;
}

.panel:hover .oculto{
    opacity: 1;
}

.panel .oculto--icons>img{
    width: 30px;
    height: 30px;
}

.statistics{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistics-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    width: 1000px;
    height: 300px;
    background-color: #000;
    border-radius: 20px;

}

.statistic-item{
    color: white;
    text-align: center;
}

.statistic-item>img{
    fill: #fff;
    stroke: white;
    margin: auto;
    width: 50px;
    height: 50px;
    filter: invert();
}

.footer{
    background-color:#293e52;
    text-align: center;
    justify-content: center;
}


.footer a{
    list-style: none;
    text-decoration: none;
    color: white;   
}

@media screen and (max-width: 980px) {

    .logo{
        margin-left: -15px;
    }

    .header{
        width: 100%;
        background-color:rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: grid;
        grid-template-columns: repeat(2, 1fr 3fr);
        backdrop-filter: blur(5px);
    }

    .nav-links{
        display: none;
        flex-direction: column;
        margin-left: 4em;
    }

    .nav-links li{
        text-align: center;
        margin-bottom: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
    .nav-links{
        text-align: center;
    }

    .switch{
        margin-left: 23px;
    }

    .content{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: 
            "a"
            "a"
            "b"
            "b"
            "c"
            "d";
        height: 120vh;
    }

    .subtitulo-jose{
        margin-left: 1em;
        margin-right: 1em;
        text-align: center;
        justify-content: start;
    }
    
    .photo-principal{
        place-content: center;
        width: 90%;
        margin-left: 1em;
        margin-right: 1em;
    }

    .describe{
        text-align: center;
        margin-left: 4em;
        margin-right: 4em;
    }

    .container-Skills{
        display: flex;
        flex-direction: column;
        margin-bottom: 160px;
    }

    .box{
        width: 100%;
        height: auto;
        margin-inline: 0;
    }

    .box li{
        justify-content: center;
        width: 160px;
        height: 160px;
    }

    .contenedorProyecto .containerP{
        display: grid;
        justify-content: center;
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .statistics{
        width: 90%;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .statistics-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        height: 850px;
        gap: 80px;

    }
}


